.product-details{
    display: flex;
    justify-content: space-between;
}
.prod-img{
    width: 100%;
    height: auto;
    object-fit: cover;
    /* object-position: 50%; */
}
.size-btn{
    outline: none;
    border: 2px solid rgb(206, 204, 204);
    /* background-color: rgba(241, 239, 239, 0.918); */
    background-color: white;
    color: black;
}
.active{
    /* background-color: #ff8084; */
    /* color: rgb(71, 64, 64); */
    background-color: white;
    color: #fc6e72;
    border: 2px solid #fc6e72;
    font-weight: bold;
    text-shadow: none;
}
.cart-btn{
    background-color: #f1262d;
    color: white;
    font-weight: 600;
    outline: none;
    border: none;
}
.wishlist-btn{
    background-color: white;
    border: 2px solid rgb(156, 155, 155);
    color: rgb(105, 104, 104);
    font-weight: 500;
}
.wishlist-active{
    color:white;
    font-weight: 600;
    background-color: rgb(18, 21, 41);
    border: 2px solid rgb(18, 21, 41);
}
@media (max-width: 762px) and (min-width: 576px){
    .main-div{
        margin: 0px 20px;
    }
}
@media (max-width: 575px){
    .product-details{
        padding: 20px;
        display: block
    }
}